span {
    color: rgb(255, 255, 255);
    font-weight: normal;
}

pre {
    font-weight: bold;
    color: #ffffff;
    font-size: large;
}

body{
    background-color: #444a4c;
}

h1 {    
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {    
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}

#statusHeader, #statusText {
    display: inline; /* or inline-block */
    margin: 0; /* Optional: Remove default margins */
}